<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>

        <!-- Partytown Google Tags -->

 

        <!-- Google Tag Manager -->
        <script
          type="text/partytown"
          src="https://www.googletagmanager.com/gtag/js?id=G-M3L0LFXME9"
        >

        </script>
        <script type="text/partytown">
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            window.dataLayer.push(arguments);
          }
          gtag("js", new Date());
          gtag("config", "G-M3L0LFXME9");
        </script>

        <!-- Partytown Google Tags -->  

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>James Mete</title>
        <meta 
        name="description" 
        content="James Mete - Data Driven Decisions">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@200..900">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0f172a">
        <meta name="msapplication-TileColor" content="#0f172a">
        <meta name="theme-color" content="#0f172a">

    </head>
    <body>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="md:flex">

            <!-- header -->
            <aside class="md:min-w-[460px] md:w-[460px] md:left-0 md:sticky top-0 md:h-screen bg-slate-900 p-10 text-center">
                <!-- Header-logo -->
                <a href="https://jamesmete.com/">
                  <div class="flex justify-center pb-4">
                      <img 
                      src="images/mwings-1-gold-ring.svg" 
                      class="h-24"
                      alt="James Mete Logo - Go to Jamesmete.com">
                  </div>
                </a>

                <!-- Header-name -->
                <h1 class="text-stone-50 italic font-black text-[40px] md:text-5xl">
                JAMES METE
                </h1>
                <h2 class="italic font-extrabold text-2xl
                text-transparent bg-clip-text bg-gradient-to-r 
                from-med-gold via-light-gold to-dark-gold">
                Data Driven Decisions
                </h2>

                <!-- Header-intro-text -->
                <div class="my-8 text-stone-50 px-6 md:px-12 mx-auto text-left">
                    <p class="inline">Hello, I'm a Canadian data scientist with international business experience that </p>
                    <p class="
                    inline text-transparent bg-clip-text bg-gradient-to-r 
                    from-light-gold to-med-gold">
                    solves challenging problems
                    </p>
                    <p class="inline"> with </p>
                    <p class="
                    inline text-transparent bg-clip-text bg-gradient-to-r 
                    from-light-gold to-med-gold">
                    data-driven insights.
                    </p>
                    <p class="inline"><br><br>I'm interested in data science, 
                        machine learning, AI, full-stack dev,
                        management consulting, marketing, and
                        design.
                        <br><br>
                        Have a look at some of my projects, 
                        and let's make things
                    </p>
                    <p class="
                    inline text-transparent bg-clip-text bg-gradient-to-r 
                    from-light-gold to-med-gold">
                    better together.
                    </p>
                </div>

                <!-- Header-buttons -->
                <div class="py-2">
                  <a href="#contact">
                    <button type="button" class="opacity-80 hover:opacity-100 hover:bg-slate-200 text-slate-100 hover:text-slate-800 border-2 border-slate-100 font-bold py-2 px-5 rounded-full inline-flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class=" w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
                        </svg>
                        <span>Contact</span>
                    </button>
                  </a>
                    
                    <a href="files/James Mete Resume.pdf">
                        <button class="opacity-80 hover:opacity-100 hover:bg-slate-200 text-slate-100 hover:text-slate-800 border-2 border-slate-100 font-bold py-2 px-5 rounded-full inline-flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                            </svg>
                            <span>Resume</span>
                        </button>
                    </a>
                </div>

                <!-- Header-socials -->
                <div class="mt-4 p-4">
                    <!-- Github -->
                    <a href="https://github.com/Jmete"
                    class="mx-2 inline-flex items-center text-slate-100 hover:text-slate-300">
                        <svg class="h-8 w-8" viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <title>Go to James Mete Github</title>
                            <path d="M24.0432 0.179932C10.8147 0.179932 0.0876465 11.0878 0.0876465 24.5445C0.0876465 35.3096 6.95165 44.4426 16.4699 47.6643C17.6671 47.8899 18.1067 47.1358 18.1067 46.4922C18.1067 45.9112 18.0845 43.9919 18.0742 41.956C11.4097 43.4299 10.0034 39.0812 10.0034 39.0812C8.9137 36.265 7.34358 35.5161 7.34358 35.5161C5.17009 34.0039 7.50742 34.035 7.50742 34.035C9.91297 34.2065 11.1796 36.5458 11.1796 36.5458C13.3162 40.2707 16.7837 39.1938 18.1507 38.5712C18.3657 36.9969 18.9866 35.9212 19.6716 35.3132C14.3508 34.6971 8.7574 32.6079 8.7574 23.2719C8.7574 20.6118 9.6932 18.4383 11.2256 16.732C10.9769 16.1179 10.1569 13.6402 11.4577 10.2841C11.4577 10.2841 13.4693 9.62928 18.0472 12.7816C19.9581 12.2418 22.0074 11.971 24.0432 11.9618C26.0791 11.971 28.13 12.2418 30.0444 12.7816C34.6167 9.62928 36.6256 10.2841 36.6256 10.2841C37.9295 13.6402 37.1091 16.1179 36.8604 16.732C38.3964 18.4383 39.3259 20.6118 39.3259 23.2719C39.3259 32.6301 33.7218 34.6906 28.3874 35.2938C29.2467 36.0499 30.0123 37.5327 30.0123 39.8059C30.0123 43.0655 29.9845 45.6893 29.9845 46.4922C29.9845 47.1406 30.4157 47.9003 31.63 47.6611C41.1431 44.4357 47.9984 35.3059 47.9984 24.5445C47.9984 11.0878 37.273 0.179932 24.0432 0.179932Z"/>
                            <path d="M9.16084 35.1623C9.10808 35.2837 8.92084 35.3196 8.75026 35.2365C8.57651 35.157 8.47892 34.992 8.53525 34.8706C8.58682 34.7459 8.77446 34.7116 8.94781 34.7943C9.12196 34.8742 9.22113 35.0408 9.16084 35.1623Z" />
                            <path d="M10.1312 36.263C10.0169 36.3707 9.79356 36.3207 9.64203 36.1504C9.48533 35.9805 9.45598 35.7534 9.57181 35.644C9.68963 35.5363 9.90622 35.5867 10.0633 35.7566C10.22 35.9285 10.2506 36.154 10.1312 36.263Z" />
                            <path d="M11.0757 37.6662C10.9289 37.7699 10.6889 37.6727 10.5405 37.456C10.3938 37.2394 10.3938 36.9795 10.5437 36.8754C10.6925 36.7713 10.9289 36.8649 11.0793 37.08C11.2256 37.2999 11.2256 37.5601 11.0757 37.6662Z" />
                            <path d="M12.3697 39.0219C12.2384 39.1692 11.9587 39.1296 11.754 38.9287C11.5446 38.7322 11.4863 38.4534 11.618 38.3062C11.7509 38.1585 12.0321 38.2 12.2384 38.3994C12.4463 38.5954 12.5097 38.8763 12.3697 39.0219Z" />
                            <path d="M14.1548 39.8091C14.0969 39.9999 13.8275 40.0867 13.5562 40.0056C13.2853 39.9221 13.1079 39.6985 13.1627 39.5057C13.219 39.3136 13.4896 39.2232 13.7629 39.31C14.0334 39.3931 14.2112 39.615 14.1548 39.8091Z" />
                            <path d="M16.1153 39.9552C16.122 40.1561 15.8919 40.3227 15.6071 40.3259C15.3207 40.3328 15.089 40.1702 15.0859 39.9725C15.0859 39.7696 15.3108 39.6045 15.5972 39.5997C15.882 39.594 16.1153 39.7554 16.1153 39.9552Z" />
                            <path d="M17.9397 39.6392C17.9738 39.8353 17.7758 40.0367 17.493 40.0899C17.2149 40.142 16.9575 40.0209 16.9222 39.8264C16.8876 39.6255 17.0892 39.4242 17.3669 39.3721C17.6501 39.3221 17.9036 39.4399 17.9397 39.6392Z" />
                            </svg>
                    </a>

                    <!-- LinkedIn -->
                    <a href="https://www.linkedin.com/in/jmete/" 
                    class="mx-2 inline-flex items-center text-slate-100 hover:text-slate-300">
                        <svg class="h-8 w-8" viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <title>Go to James Mete LinkedIn</title>
                            <path d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24ZM16.9605 19.8778H11.5216V36.2196H16.9605V19.8778ZM17.3188 14.8227C17.2835 13.2204 16.1377 12 14.277 12C12.4164 12 11.2 13.2204 11.2 14.8227C11.2 16.3918 12.3805 17.6473 14.2064 17.6473H14.2412C16.1377 17.6473 17.3188 16.3918 17.3188 14.8227ZM36.5754 26.8497C36.5754 21.8303 33.8922 19.4941 30.3131 19.4941C27.4254 19.4941 26.1326 21.0802 25.4107 22.1929V19.8783H19.9711C20.0428 21.4117 19.9711 36.22 19.9711 36.22H25.4107V27.0934C25.4107 26.605 25.446 26.1178 25.5898 25.7681C25.9829 24.7924 26.8779 23.7822 28.3805 23.7822C30.3494 23.7822 31.1365 25.2807 31.1365 27.4767V36.2196H36.5752L36.5754 26.8497Z"/>
                        </svg>
                    </a>

                    <!-- Facebook -->
                    <a href="https://www.facebook.com/JamesMete/" 
                    class="mx-2 inline-flex items-center text-slate-100 hover:text-slate-300">
                        <svg class="h-8 w-8" viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <title>Go to James Mete Facebook</title>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24ZM26.5016 38.1115V25.0542H30.1059L30.5836 20.5546H26.5016L26.5077 18.3025C26.5077 17.1289 26.6192 16.5001 28.3048 16.5001H30.5581V12H26.9532C22.6231 12 21.0991 14.1828 21.0991 17.8536V20.5551H18.4V25.0547H21.0991V38.1115H26.5016Z"/>
                        </svg>
                    </a>

                    <!-- Instagram -->
                    <a href="https://www.instagram.com/jpmete/"  
                    class="mx-2 inline-flex items-center text-slate-100 hover:text-slate-300">
                        <svg class="h-8 w-8" viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <title>Go to James Mete Instagram</title>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24ZM24.0012 11.2C20.5249 11.2 20.0886 11.2152 18.7233 11.2773C17.3606 11.3397 16.4305 11.5555 15.6166 11.872C14.7747 12.1989 14.0606 12.6363 13.3491 13.348C12.6371 14.0595 12.1997 14.7736 11.8717 15.6152C11.5544 16.4294 11.3384 17.3598 11.2771 18.7219C11.216 20.0873 11.2 20.5238 11.2 24.0001C11.2 27.4764 11.2155 27.9114 11.2773 29.2767C11.34 30.6394 11.5557 31.5695 11.872 32.3834C12.1992 33.2253 12.6365 33.9394 13.3483 34.6509C14.0595 35.3629 14.7736 35.8013 15.615 36.1283C16.4294 36.4448 17.3598 36.6605 18.7222 36.7229C20.0876 36.7851 20.5236 36.8003 23.9996 36.8003C27.4762 36.8003 27.9111 36.7851 29.2765 36.7229C30.6391 36.6605 31.5703 36.4448 32.3848 36.1283C33.2264 35.8013 33.9394 35.3629 34.6506 34.6509C35.3626 33.9394 35.8 33.2253 36.128 32.3837C36.4427 31.5695 36.6587 30.6391 36.7227 29.277C36.784 27.9116 36.8 27.4764 36.8 24.0001C36.8 20.5238 36.784 20.0876 36.7227 18.7222C36.6587 17.3595 36.4427 16.4294 36.128 15.6155C35.8 14.7736 35.3626 14.0595 34.6506 13.348C33.9386 12.636 33.2266 12.1987 32.384 11.872C31.5679 11.5555 30.6373 11.3397 29.2746 11.2773C27.9092 11.2152 27.4746 11.2 23.9972 11.2H24.0012Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.8529 13.5067C23.1937 13.5062 23.574 13.5067 24.0012 13.5067C27.4188 13.5067 27.8239 13.519 29.1735 13.5803C30.4215 13.6374 31.0989 13.8459 31.5501 14.0211C32.1474 14.2531 32.5733 14.5304 33.021 14.9784C33.469 15.4264 33.7464 15.8531 33.9789 16.4505C34.1541 16.9011 34.3629 17.5785 34.4197 18.8265C34.481 20.1758 34.4944 20.5812 34.4944 23.9972C34.4944 27.4132 34.481 27.8186 34.4197 29.1679C34.3626 30.4159 34.1541 31.0933 33.9789 31.5439C33.7469 32.1413 33.469 32.5666 33.021 33.0144C32.573 33.4624 32.1477 33.7397 31.5501 33.9717C31.0994 34.1477 30.4215 34.3557 29.1735 34.4128C27.8242 34.4741 27.4188 34.4874 24.0012 34.4874C20.5833 34.4874 20.1782 34.4741 18.8289 34.4128C17.5809 34.3552 16.9035 34.1466 16.4521 33.9714C15.8547 33.7394 15.428 33.4621 14.98 33.0141C14.532 32.5661 14.2547 32.1405 14.0222 31.5429C13.847 31.0922 13.6382 30.4149 13.5814 29.1669C13.52 27.8175 13.5078 27.4122 13.5078 23.994C13.5078 20.5758 13.52 20.1726 13.5814 18.8233C13.6384 17.5753 13.847 16.8979 14.0222 16.4467C14.2542 15.8494 14.532 15.4227 14.98 14.9747C15.428 14.5267 15.8547 14.2494 16.4521 14.0168C16.9033 13.8408 17.5809 13.6328 18.8289 13.5755C20.0097 13.5222 20.4673 13.5062 22.8529 13.5035V13.5067ZM30.8338 15.632C29.9858 15.632 29.2978 16.3193 29.2978 17.1675C29.2978 18.0155 29.9858 18.7035 30.8338 18.7035C31.6818 18.7035 32.3698 18.0155 32.3698 17.1675C32.3698 16.3195 31.6818 15.632 30.8338 15.632ZM24.0012 17.4267C20.371 17.4267 17.4278 20.37 17.4278 24.0001C17.4278 27.6303 20.371 30.5722 24.0012 30.5722C27.6314 30.5722 30.5735 27.6303 30.5735 24.0001C30.5735 20.37 27.6314 17.4267 24.0012 17.4267Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.0012 19.7334C26.3575 19.7334 28.2679 21.6436 28.2679 24.0001C28.2679 26.3564 26.3575 28.2668 24.0012 28.2668C21.6446 28.2668 19.7345 26.3564 19.7345 24.0001C19.7345 21.6436 21.6446 19.7334 24.0012 19.7334Z" />
                        </svg>
                    </a>

                    <!-- Twitter -->
                    <a href="https://twitter.com/Jmete"  
                    class="mx-2 inline-flex items-center text-slate-100 hover:text-slate-300">
                        <svg class="h-8 w-8" viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <title>Go to James Mete Twitter</title>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24ZM23.2812 19.5075L23.3316 20.338L22.4922 20.2363C19.4369 19.8465 16.7677 18.5245 14.5013 16.3043L13.3934 15.2027L13.108 16.0162C12.5036 17.8296 12.8897 19.7448 14.1488 21.0328C14.8203 21.7446 14.6692 21.8463 13.5109 21.4226C13.108 21.287 12.7554 21.1854 12.7219 21.2362C12.6044 21.3548 13.0073 22.8971 13.3262 23.5072C13.7627 24.3546 14.6524 25.1851 15.6261 25.6766L16.4487 26.0664L15.475 26.0833C14.5349 26.0833 14.5013 26.1003 14.6021 26.4562C14.9378 27.5578 16.264 28.7272 17.7413 29.2357L18.7822 29.5916L17.8756 30.1339C16.5326 30.9135 14.9546 31.3542 13.3766 31.3881C12.6211 31.405 12 31.4728 12 31.5237C12 31.6931 14.0481 32.6422 15.24 33.0151C18.8157 34.1167 23.063 33.6422 26.2526 31.7609C28.5189 30.422 30.7852 27.7612 31.8428 25.1851C32.4136 23.8123 32.9844 21.304 32.9844 20.1007C32.9844 19.3211 33.0347 19.2194 33.9748 18.2872C34.5288 17.7449 35.0492 17.1517 35.15 16.9822C35.3178 16.6602 35.3011 16.6602 34.4449 16.9483C33.018 17.4568 32.8165 17.389 33.5216 16.6263C34.042 16.084 34.6631 15.101 34.6631 14.8129C34.6631 14.762 34.4113 14.8468 34.1259 14.9993C33.8238 15.1688 33.1523 15.423 32.6486 15.5756L31.7421 15.8637L30.9195 15.3044C30.4663 14.9993 29.8283 14.6604 29.4926 14.5587C28.6364 14.3214 27.327 14.3553 26.5548 14.6265C24.4563 15.3891 23.1301 17.3551 23.2812 19.5075Z"/>
                        </svg>
                    </a>


                </div>


            </aside>
            <main class="flex-1 bg-stone-100">

            <!-- DATA SCIENCE SECTION -->

                <div class="p-6 md:p-10 divide-y-2 divide-med-gold/25">
                    <div class="mb-2">
                        <h1 class="text-4xl text-slate-800 font-extrabold">Data Science</h1>
                        <!-- <h1 class="text-xl text-slate-600">Creating Order Out Of Chaos</h1> -->
                        <h1 class="text-xl text-transparent bg-clip-text bg-gradient-to-r 
                        from-med-gold via-light-gold to-dark-gold">Creating Order Out Of Chaos</h1>
                    </div>
                    
                    <!-- BEGIN CARD ROW -->

                    <div class="pt-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-3 gap-4">

                        <!-- Card One -->
                        <div class="max-w-sm rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                          <img class="w-full aspect-ratio" src="images/savethedislikes.webp" alt="Save the Dislikes Website">
                          <div class="px-6 py-4 min-h-[400px]">
                            <div class="font-bold text-xl mb-2">Predicting Youtube Dislikes</div>
                            <p class="text-gray-700 text-base">
                              A complete machine learning pipeline to download / scrape, process, and analyze millions of Youtube data to train a model to predict dislikes and alert the user if a video is potentially probelmatic through a webapp that can process submitted videos.
                            </p>
                          </div>
                          <div class="absolute bottom-0 w-full">
                              <div class="px-6 pt-4 pb-2">
                                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
                                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Big Data</span>
                                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">SQL</span>
                                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Django</span>
                                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">ML/AI</span>
                                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">SKLearn</span>
                                </div>
    
    
                                <div class="ml-6 pb-5">
                                  <a href="https://www.savethedislikes.com/" class=" opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600 text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                        </svg>
                                        <span>Webapp</span>
                                    </a>
                                </div>
                          </div>
                        </div>

                        <!-- Card Two -->
                        <div class="max-w-sm rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/sentiment-analysis.webp" alt="Sentiment Uncertainty Chart">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">Sentiment Analysis of Online Platforms</div>
                              <p class="text-gray-700 text-base">
                                A study of over 1.2 billion raw twitter posts, amazon reviews, and reddit posts utilizing sentiment and keyword analysis to discover important themes each platform focuses their attention on. 
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Pandas</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Big Data</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Spark</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Plotly</span>
                                  </div>
      
                                  <a href="files/Sentiment Analysis between Product Reviews and Social Media Platforms -stanhung-jmete.pdf">
                                    <div class="ml-6 pb-5">
                                        <button class=" opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600  text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                                </svg>
                                            <span>Report</span>
                                        </button>
                                    </div>
                                  </a>
                            </div>
                          </div>

                        <!-- Card Three -->
                        <div class="max-w-sm rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/predicting-text-difficulty.webp" alt="Predicting Text Difficulty - Random Forest Feature Importance">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">Predicting Text Difficulty</div>
                              <p class="text-gray-700 text-base">
                                We built a machine learning pipeline utilizing both supervised and unsupervised learning to classify sentences into whether or not they require simplification. Our fine-tuned BERT model scored 77.6% on the test set, claiming second place in the associated Kaggle competition.
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Pytorch</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Deep Learning</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">ML/AI</span>
                                  </div>
      
                                  <a href="files/Predicting Text Difficulty - Project Report - jmete-mattdann.pdf">     
                                    <div class="ml-6 pb-5">
                                        <button class=" opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600  text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                                </svg>
                                            <span>Report</span>
                                        </button>
                                    </div>
                                  </a> 
      
                                </div>
                            </div>

                    </div>

                    <!-- END CARD ROW -->
                </div>

                <!-- PROJECT MANAGEMENT SECTION -->

                <div class="p-6 md:p-10 divide-y-2 divide-med-gold/25">
                    <div class="mb-2">
                        <h1 class="text-4xl text-slate-800 font-extrabold">Project Management</h1>
                        <h1 class="text-xl text-xl text-transparent bg-clip-text bg-gradient-to-r 
                        from-med-gold via-light-gold to-dark-gold">Delivering Quality</h1>
                    </div>
                    <!-- BEGIN CARD ROW -->

                    <div class="pt-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-3 gap-4">
                        <!-- Card One -->
                        <div class="max-w-sm rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/ejawda-frame.webp" alt="Ejawda Website">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">Ejawda.com</div>
                              <p class="text-gray-700 text-base">
                                I was a core team member to launch Ejawda.com, a new e-commerce platform for the industrial sector in the GCC region. This involved providing analytical and project management support to align all stakeholders and team members to meet our milestones on-time and within our budget.
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">PM</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">E-Commerce</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Digital Transformation</span>
                                  </div>
      
      
                                  <div class="ml-6 pb-5">
                                    <a href="https://www.ejawda.com/en" class=" opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600  text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                          </svg>
                                          <span>Website</span>
                                      </a>
                                  </div>
                            </div>
                          </div>

                        <!-- Card Two -->
                        <div class="max-w-sm  rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/erp-frame.webp" alt="ERP Implementation">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">ERP Implementation</div>
                              <p class="text-gray-700 text-base">
                                I was a core team member to implement a new enterprise resource planning solution (Odoo). This includes working with stakeholders, partners, and developers to implement all necessary modules, as well as set up corporate dashboards and other features. This has greatly enhanced our organizational efficiency. 
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">PM</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">ERP</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Python</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">SQL</span>
                                  </div>
      
      
                                  <div class="ml-6 pb-5">
                                      <a href="https://www.odoo.com/" class=" opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600  text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                          </svg>
                                          <span>Website</span>
                                      </a>
                                  </div>
                            </div>
                          </div>

                        <!-- Card Three -->
                        <div class="max-w-sm  rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/newfacility.webp" alt="Sherbiny Manufacturing Facility">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">Sherbiny Manufacturing Facility</div>
                              <p class="text-gray-700 text-base">
                                I helped plan and implement the construction of a new manufacturing facility for Sherbiny that hosts our fluid handling and life safety manufacturing capabilities. My involvement included feasibility studies, analysis, and overall project management support.
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">PM</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Manufacturing</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Analysis</span>
                                  </div>
      
      
                                  <div class="ml-6 pb-5">
                                    <a href="https://sherbiny.com/localmanufacturing/" class="opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600 text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                        </svg>
                                        <span>Website</span>
                                    </a>
                                </div>
      
                                </div>
                            </div>

                    </div>

                    <!-- END CARD ROW -->
                </div>
                <div class="p-6 md:p-10 divide-y-2 divide-med-gold/25">
                    <div class="mb-2">
                        <h1 class="text-4xl text-slate-800 font-extrabold">Development</h1>
                        <h1 class="text-xl text-xl text-transparent bg-clip-text bg-gradient-to-r 
                        from-med-gold via-light-gold to-dark-gold">Blazingly Fast, Sometimes</h1>
                    </div>

                    <!-- BEGIN CARD ROW -->

                    <div class="pt-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-3 gap-4">
                        <!-- Card One -->
                        <div class="max-w-sm rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/sherbiny-website-frame.webp" alt="Sherbiny Website">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">Sherbiny Website</div>
                              <p class="text-gray-700 text-base">
                                I designed and developed the website for Sherbiny, a leading provider of premium industrial solutions. The development comprised the full-stack including the backend CMS using Strapi, the frontend using React / Gatsby, as well as the server deployment infrastructure.
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">React</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Gatsby</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Strapi</span>
                                  </div>
      
      
                                  <div class="ml-6 pb-5">
                                    <a href="https://sherbiny.com/" class="opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600 text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                          </svg>
                                          <span>Website</span>
                                      </a>
                                  </div>
                            </div>
                          </div>

                        <!-- Card Two -->
                        <div class="max-w-sm  rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/timer-frame.webp" alt="Custom Timer App">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">Custom Timer</div>
                              <p class="text-gray-700 text-base">
                                I created a minimalist timer that is better for developers that uses JSON to store meeting templates to allow for hot swapping between different meeting structures by just editing text files that I can maintain. The timer largely is built using Vue JS for smooth client-side actions.
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Vue</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Front-End</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">JSON</span>
                                  </div>
      
      
                                  <div class="ml-6 pb-5">
                                      <a href="https://timer.jamesmete.com/" class="opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600 text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                          </svg>
                                          <span>Webapp</span>
                                      </a>
                                  </div>
                            </div>
                          </div>

                        <!-- Card Three -->
                        <div class="max-w-sm  rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/tweet50.webp" alt="Tweet50">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">Tweet50</div>
                              <p class="text-gray-700 text-base">
                                Tweet50 is a minimalist twitter client that quickly gives you the latest 50 tweets of any user that you search for. Tweet50 was my final project for Harvard's CS50 class. The core of the app is a PHP script that access the Twitter API to quickly grab the tweets and display them.
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Javascript</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">PHP</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">API</span>
                                  </div>
      
      
                                  <div class="ml-6 pb-5">
                                    <a href="https://tweet50.herokuapp.com/" class="opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600 text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                        </svg>
                                        <span>Webapp</span>
                                    </a>
                                </div>
      
                                </div>
                            </div>

                    </div>

                    <!-- END CARD ROW -->
                </div>
                <div class="px-6 pt-6 pb-10 md:px-10 md:pt-10 md:pb-16 divide-y-2 divide-med-gold/25">
                    <div class="mb-2">
                        <h1 class="text-4xl text-slate-800 font-extrabold">Marketing & Design</h1>
                        <h1 class="text-xl text-xl text-transparent bg-clip-text bg-gradient-to-r 
                        from-med-gold via-light-gold to-dark-gold">Beautiful, Just Like You</h1>
                    </div>
                    <!-- BEGIN CARD ROW -->

                    <div class="pt-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-3 gap-4">
                        <!-- Card One -->
                        <div class="max-w-sm rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/marketing-strategy.webp" alt="Marketing Strategy - Kanban">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">Marketing Strategy</div>
                              <p class="text-gray-700 text-base">
                                As marketing manager, I crafted our strategic marketing plan and implemented our revised marketing department implementation. This project included a complete department restructuring, hiring new team members, and introducing agile methodology with Kanban to increase throughput by 300%.
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Leadership</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Strategy</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Agile</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Kanban</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Creative Direction</span>
                                  </div>

                            </div>
                          </div>

                        <!-- Card Two -->
                        <div class="max-w-sm  rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/video-production.webp" alt="Video Production - Sherbiny Corporate Video">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">Video Production</div>
                              <p class="text-gray-700 text-base">
                                I led the production of the new Sherbiny corporate video to enhance our online presence and increase our brand awareness. This involved coordinating with stakeholders, script writing and more. I have also done video production myself using Adobe Premiere and After-Effects.
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Production</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Design</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Branding</span>
                                  </div>
      
      
                                  <div class="ml-6 pb-5">
                                      <a href="https://www.youtube.com/watch?v=xp-jCNZDE2o" class="opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600 text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                          </svg>
                                          <span>Video</span>
                                      </a>
                                  </div>
                            </div>
                          </div>

                        <!-- Card Three -->
                        <div class="max-w-sm  rounded-lg overflow-hidden shadow-lg hover:shadow-2xl bg-stone-50 relative mx-auto">
                            <img class="w-full aspect-ratio" src="images/graphic-design.webp" alt="Graphic Design Example">
                            <div class="px-6 py-4 min-h-[400px]">
                              <div class="font-bold text-xl mb-2">Graphic Design</div>
                              <p class="text-gray-700 text-base">
                                I designed and created a wide range of marketing materials such as new brochures, flyers, and presentations to improve our brand image and aid our sales team. This included design work in Adobe Photoshop, Illustrator, In-Design, and MS Powerpoint.
                              </p>
                            </div>
                            <div class="absolute bottom-0 w-full">
                                <div class="px-6 pt-4 pb-2">
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Graphic Design</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Adobe CC</span>
                                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Office</span>
                                  </div>
      
                                  <a href="files/Sherbiny - Local Content Brochure - S.pdf">
                                    <div class="ml-6 pb-5">
                                        <button class="opacity-80 hover:opacity-100 hover:bg-gray-700 text-slate-600 hover:text-slate-100 border-2 border-slate-600 text-xs font-medium py-1 px-4 rounded-full inline-flex items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                            </svg>
                                            <span>Brochure</span>
                                        </button>
                                    </div>
                                  </a>
      
                                </div>
                            </div>

                    </div>

                    <!-- END CARD ROW -->
                </div>

                <div id="contact" class="p-6 md:p-10 divide-y-2 divide-med-gold/25 bg-stone-200">
                  <div class="mb-2">
                      <h1 class="text-4xl text-slate-800 font-extrabold">Contact Me</h1>
                      <h1 class="text-xl text-xl text-transparent bg-clip-text bg-gradient-to-r 
                      from-med-gold via-light-gold to-dark-gold">Better Together</h1>
                  </div>
                  <!-- BEGIN CARD ROW -->
                  <form id="contact-form" class="py-4 w-full" onsubmit="submitForm(event)">
                    <div class="grid grid-cols-1 lg:grid-cols-2 -mx-3 mb-6">

                      <div class="w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="contact-name">
                          Full Name
                        </label>
                        <input class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="contact-name" type="text" placeholder="First Name Last Name" required>
                      </div>

                      <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="contact-email">
                          E-mail
                        </label>
                        <input class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="contact-email" type="email" placeholder="Where can I contact you?" required>
                      </div>

                    </div>

                    <div class="flex flex-wrap -mx-3 mb-6">
                      <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="contact-message">
                          Message
                        </label>
                        <textarea class=" no-resize appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48" id="contact-message" placeholder="What's on your mind?" required></textarea>
                      </div>
                    </div>
                    <div class="md:flex md:items-center">
                      <div class="md:w-1/3">
                        <button type="submit" class="hover:bg-green-500 bg-green-400 text-stone-50 font-bold py-2 px-5 rounded-full inline-flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class=" w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
                          </svg>
                          <span>Send</span>
                      </button>
                      </div>
                      <div class="md:w-2/3"></div>
                    </div>
                  </form>

                  <!-- END CARD ROW -->
              </div>
              <div class="text-center bg-stone-200 py-4 text-slate-500 block" > James Mete</div>

            </main>
        </div>
        
        <script type='text/javascript' src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type='text/javascript' src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script type="text/javascript" is:inline> 

          function showToast(type){

            if(type=="error"){
                Toastify({
                    text: "Sorry, an error occured.",
                    duration: 3000,
                    close: true,
                    gravity: "bottom",
                    positionLeft: false,
                    style:{
                      background: "linear-gradient(to right, #f87171, #ef4444)",
                    },
                }).showToast();
            } else{
                Toastify({
                    text: "Message Sent!",
                    duration: 3000,
                    close: true,
                    gravity: "bottom",
                    positionLeft: false,
                    style:{
                      background: "linear-gradient(to right, #4ade80, #22c55e)",
                    },
                }).showToast();
            }

          }

          async function submitForm(e){

            // Prevent the form from submitting and refreshing the page
            e.preventDefault();

            // Get the values from the form directly
            const nameValue = document.getElementById("contact-name").value;
            const emailValue = document.getElementById("contact-email").value;
            const messageValue = document.getElementById("contact-message").value;

            // Make sure all fields are not empty, else continue
            if (!nameValue || !emailValue || !messageValue){
                showToast("error");
            }

            console.log("Attempting post...");
            const res = await axios.post('https://klbv6ea3x5.execute-api.us-east-1.amazonaws.com/PostAPIfinal/lambda-ses', 
            {
              contactName: nameValue,
              contactEmail: emailValue,
              contactMessage:messageValue,
            })
              .then(response => {
                console.log(response)
                showToast();
              })
              .catch(error=>{
                console.error("There was an error!",error);
                showToast("error")
              })
          }
          
        </script>
    </body>
</html>